.frame {
    height: 70px;      /* equals max image height */
    background-color: black;
    text-align: center; margin: 1em 0;
    margin-top: 0%;
    box-shadow: 0px 3px 10px black;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}